console.log("comments/create.js.erb");

var reloadCommentsDivID = "#comments-display-for-choice-" + "<%= @choice.id %>";

<% if @comment.errors.count == 0 %>
  $(reloadCommentsDivID).html("<%= j (render @choice.comments) %>");
  $("input[type='text'][name='comment[text]']").val("");
<% else %>
  $(reloadCommentsDivID).prepend("<div class='error'>error - you have to provide a value</div>");
<% end %>
