<%= javascript_include_tag "//www.google.com/jsapi" %>

<h3>Total Votes: <%= @choice.option_a_votes + @choice.option_b_votes %></h3>

<%= column_chart [
  ["A", @choice.option_a_votes],
  ["B", @choice.option_b_votes]
] %>
