<div class="container">
  <%= render @choice %>
</div>

<% content_for :nav_menu do %>
  <li><%= link_to 'Edit this Choice', edit_choice_path(@choice) %></li>
  <li><%= link_to 'Delete this Choice', @choice, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>
