// Place all the styles related to the Choices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumb {
  margin-bottom: 30px;
  text-align: center;
}

.thumb a:link {
  text-decoration: none;
}

.thumbnail span {
  font-size: 2em;
}

#vote-display {
  width: 100%;
  text-align: center;
}

.hidden-form {
  visibility: hidden;
}

.row {
  background-color: white;
}
